<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>audio-transcribe</title>
    <link href="/static/style.css" rel="stylesheet" />
  </head>
  <body>
    <h2>Audio to text converter</h2>
    <button class="recBtn">Start recording</button>
    <button class="dlBtn" style="display: none">Download transcript</button>
    <pre class="transcript">Press record to start...</pre>
    <script src="/static/web-speech-api.js" defer></script>
    <!-- <script src="/static/whisper-selfhost.js" defer></script> -->
  </body>
</html>
