<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>audio-transcribe</title>
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <h2>Record audio</h2>
    <button class="recBtn">Start recording</button>
    <button class="dlBtn" style="display: none">Download transcript</button>
    <pre class="transcript"></pre>

    <script src="/static/script.js"></script>
  </body>
</html>
